<nav>
  <strong *ngIf="userLogged">{{userName}}</strong>
  <div class="nav-wrapper blue">
    <a routerLink="/home" class="brand-logo">Hotel</a>
    <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="!userLogged"><a routerLink="/security/login">Login</a></li>
      <li *ngIf="userLogged"><a routerLink="/security/logout">Logout</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li *ngIf="!userLogged"><a routerLink="/security/login">Login</a></li>
  <li *ngIf="userLogged"><a routerLink="/security/logout">Logout</a></li>
</ul>
        